body {
    filter: invert(92.5%);
}


img,
/*图片*/
video,
/*视频*/
canvas:not(.pdfViewer canvas),
/*canvas，排除PDF*/
.protyle-background__icon,
/*文档头部emj图标*/
#toolbarVIP,
/*订阅用户图标*/
[data-type="tag"]::before,
/*标签图标*/
[data-type="file-annotation-ref"]::before,
/*pdf引用图标*/
.code-block::after,
/*pdf引用图标*/
.b3-list-item__icon,
/*菜单列表项图标*/
.b3-list-item__graphic:not(.popover__block),
/*大纲文档名图标*/
.emojis__item,
/*emj面板图标*/
.emojis__type,
/*emj面板图标类型图标*/
.toolbar__item::after,
/*头栏信息提示泡*/
.iframe-content>iframe,
/*iframe*/
.item__preview

/*集市包预览图*/
    {
    filter: invert(107.5%);
}

.tooltip {
    background-color: white !important;
    color: black !important;
}

.img img {
    background-color: white !important;
}

.protyle-title__input {
    color: black !important;
}

/* 未中的标签页 */
.layout-tab-bar .item--focus .item__text {
    color: rgb(255, 255, 255) !important;
}

/* 选中的标签页 */
.layout__wnd--active .layout-tab-bar .item--focus .item__text {
    color: black !important;
}



/*
svg:not(.b3-list-item__icon svg):not(.protyle-breadcrumb__bar>svg):not(#toolbar svg):not(#status svg):not(.protyle-gutters svg):not([data-type="NodeHeading"] svg):not(#dockLeft svg):not(#dockRight svg):not(.protyle-action svg):not(.b3-list-item__toggle svg),*/