/* 段落文字首行缩进（不包含列表中段落） */
.p,
#searchList>[data-type="search-item"]>.b3-list-item__text,
#globalSearchList>[data-type="search-item"]>.b3-list-item__text {
    text-indent: 2em;
}


[custom-indent="true"].p {
    text-indent: 2em;
}

[custom-indent="false"].p {
    text-indent: 0;
}

.li>div:nth-child(2) {
    text-indent: 0;
}

.protyle-attr {
    text-indent: 0;
}

.img {
    text-indent: 0;
}






/*列表段落文字首行缩进 */

.li>[custom-indent="true"].p {
    text-indent: 2em;
}

.li>[custom-indent="false"].p {
    text-indent: 0;
}