
/*————————————————————图片——————————————————————————————————*/
/*这些图片不知道是否有版权所以发布的主题时不用*/
/*文档树面板*/
.fn__flex-1 div [data-type="navigation"]{
    background-image: url('../src/f9xfg0QGIr22.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/*大纲面板*/
.sy__outline>.fn__flex-1{
    background-image: url('../src/f9xfg0QGIr22.png') ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

.backlinkList{
    background-image: url('../src/f9xfg0QGIr22.png') ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
.backlinkMList{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
/*关闭笔记面板龙图*/
.b3-list:not(.b3-list--background) ul{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
/*标签面板*/
div.fn__flex-1.fn__flex-column.file-tree.sy__tag>.fn__flex-1{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
#globalSearchList{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
