
/*————————————————————图片——————————————————————————————————*/
/*这些图片不知道是否有版权所以发布的主题时不用*/
/*文档树面板*/
.fn__flex-1 div [data-type="navigation"]{
    background-image: url('../src/f9xfg0QGIr22.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/*大纲面板*/
.sy__outline>.fn__flex-1{
    background-image: url('../src/f9xfg0QGIr22.png') ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

.backlinkList{
    background-image: url('../src/f9xfg0QGIr22.png') ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
.backlinkMList{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
/*关闭笔记面板龙图*/
.b3-list:not(.b3-list--background) ul{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
/*标签面板*/
div.fn__flex-1.fn__flex-column.file-tree.sy__tag>.fn__flex-1{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
#globalSearchList{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
.protyle-content{
    background-image: url('../src/背景.png');
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-size: 100% 100%;
}



/*文字之间间距调整*/
.protyle-content:not(.pdfViewer span){
    letter-spacing:0.2px;
}

/*让列表层级分明，更深层嵌套的文字更小*/
[data-type="NodeListItem"]{
    font-weight:300;
   /* font-size: 99%;*/
}

[data-type="NodeListItem"]>.p:nth-child(2){
    font-weight: 500 !important;
   /* font-size: 101%;*/
}


/*让大纲树，文档树列表间距更小*/
.b3-list-item:not([data-type="search-item"]):not([data-treetype="backlink"]){
    line-height: 16px !important;
}
[data-treetype="backlink"]{
    line-height: 22px;
}

/*加粗更粗*/
strong{
    font-weight:900 !important;
}

u{
    border-bottom:1px solid rgb(140, 54, 162) !important;
}

/*mark标签思源自动标记*/
mark,[data-type="search-mark"]{
}


/*引用搜索，路径醒目增量样式*/
.b3-list-item__meta.b3-list-item__showall:not(.fn__flex){
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.b3-list-item.b3-list-item--two.fn__block{
  margin-top: 2px !important;
}


.protyle-wysiwyg,
.b3-typography {
  counter-reset: h1-counter 0 h2-counter 0 h3-counter 0 h4-counter 0 h5-counter 0 h6-counter 0;
}
.protyle-wysiwyg > [data-node-id].h1,
.b3-typography > h1 {
  counter-increment: h1-counter;
  counter-reset: h2-counter 0;
}
.protyle-wysiwyg > [data-node-id].h1:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before,
.b3-typography > h1:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before {
  display: block !important;
  float: left;
  content: counter(h1-counter) "\00A0";
}
.protyle-wysiwyg > [data-node-id].h2,
.b3-typography > h2 {
  counter-increment: h2-counter;
  counter-reset: h3-counter 0;
}
.protyle-wysiwyg > [data-node-id].h2:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before,
.b3-typography > h2:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before {
  display: block !important;
  float: left;
  content: counter(h1-counter) "." counter(h2-counter) "\00A0";
}
.protyle-wysiwyg > [data-node-id].h3,
.b3-typography > h3 {
  counter-increment: h3-counter;
  counter-reset: h4-counter 0;
}
.protyle-wysiwyg > [data-node-id].h3:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before,
.b3-typography > h3:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before {
  display: block !important;
  float: left;
  content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) "\00A0";
}
.protyle-wysiwyg > [data-node-id].h4,
.b3-typography > h4 {
  counter-increment: h4-counter;
  counter-reset: h5-counter 0;
}
.protyle-wysiwyg > [data-node-id].h4:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before,
.b3-typography > h4:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before {
  display: block !important;
  float: left;
  content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "\00A0";
}
.protyle-wysiwyg > [data-node-id].h5,
.b3-typography > h5 {
  counter-increment: h5-counter;
  counter-reset: h6-counter 0;
}
.protyle-wysiwyg > [data-node-id].h5:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before,
.b3-typography > h5:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before {
  display: block !important;
  float: left;
  content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "." counter(h5-counter) "\00A0";
}
.protyle-wysiwyg > [data-node-id].h6,
.b3-typography > h6 {
  counter-increment: h6-counter;
  counter-reset: h7-counter 0;
}
.protyle-wysiwyg > [data-node-id].h6:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before,
.b3-typography > h6:not(.li [data-type="NodeHeading"]):not(.sb [data-type="NodeHeading"]):not(.bq [data-type="NodeHeading"])::before {
  display: block !important;
  float: left;
  content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "." counter(h5-counter) "." counter(h6-counter) "\00A0";
}



/*折叠点击展开标志*/
.protyle-wysiwyg div[fold="1"][data-type="NodeHeading"]:before {
    content: "";
    width: auto !important;
    height: 0px !important;
    position: static !important;
    margin-left: -6px !important;
    margin-right: -8px !important;
    margin-top: -7px !important;
}
