
/*————————————————————图片——————————————————————————————————*/
/*这些图片不知道是否有版权所以发布的主题时不用*/
/*文档树面板*/
.fn__flex-1 div [data-type="navigation"]{
    background-image: url('../src/f9xfg0QGIr22.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/*大纲面板*/
.sy__outline>.fn__flex-1{
    background-image: url('../src/f9xfg0QGIr22.png') ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

.backlinkList{
    background-image: url('../src/f9xfg0QGIr22.png') ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
.backlinkMList{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
/*关闭笔记面板龙图*/
.b3-list:not(.b3-list--background) ul{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
/*标签面板*/
div.fn__flex-1.fn__flex-column.file-tree.sy__tag>.fn__flex-1{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}
#globalSearchList{
    background-image: url('../src/f9xfg0QGIr.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
.protyle-content{
    background-image: url('../src/背景.png');
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-size: 100% 100%;
}



/*文字之间间距调整*/
.protyle-content{
    letter-spacing:0.2px;
}

/*让列表层级分明，更深层嵌套的文字更小*/
[data-type="NodeListItem"]{
    font-weight:300;
   /* font-size: 99%;*/
}

[data-type="NodeListItem"]>.p:nth-child(2){
    font-weight: 500 !important;
   /* font-size: 101%;*/
}

/*让大纲树，文档树列表间距更小*/
.b3-list-item:not([data-type="search-item"]):not([data-treetype="backlink"]){
    line-height: 16px !important;
}
[data-treetype="backlink"]{
    line-height: 22px;
}
  

/*mark标签思源自动标记*/
mark,[data-type="search-mark"]{
}
